# Domain name and port for Musubi.
domainName: localhost
portNumber: 8080

# TLS/SSL (HTTPS/WSS) is enabled by default.
# Set "disable" or "disabled" to force disable TLS/SSL.
secure: disable

# Server certificate chain and private key of Domain name.
certChain: /PATH/TO/YOUR/CERT/CHAIN
certKey: /PATH/TO/YOUR/CERT/KEY

# Prefer method of receiving notifications.
# If you leave this empty, Musubi will assume you default method which is websocket.
pushMethod: pushbullet

# Pushbullet Token. It is required when sending a Pushbullet notification.
# If you prefer to send notifications via websocket but Notification Receiver is offiline,
# Musubi will check if you set Pushbullet Token. If Pushbullet Token is set, Musubi will
# send notifications via Pushbullet as alternative method of receiving notifications.
pushbullet:
  token: fafa71fe83776cb8c7eaa4add6c018d3


# Notification Receiver. Set where to receive notifications.
# Multiple Notification Receivers are accepted.
# It could be name or token (shown below as example).
defaultNotificationReceiver:
  - desktop
  - 7d75de58ee0f7a2dae9a7b703e1a2903
  - test
