[Unit]
Description=Musubi Message Server

[Service]
ExecStart=/bin/musubi daemon
ExecReload=kill -9 `ps | grep musubi | awk '{print $1}'` && /bin/musubi daemon
ExecStop=kill -9 `ps | grep musubi | awk '{print $1}'`

[Install]
WantedBy=multi-user.target
